[submodule "kernel"]
	path = kernel
	url = https://github.com/shipsimfan/los-rs-kernel.git
	branch = main
[submodule "toolchain/lasm"]
	path = toolchain/lasm
	url = https://github.com/shipsimfan/lasm.git
	branch = main
[submodule "toolchain/lcc"]
	path = toolchain/lcc
	url = https://github.com/shipsimfan/lcc.git
	branch = main
[submodule "toolchain/rsld"]
	path = toolchain/rsld
	url = https://github.com/shipsimfan/rsld.git
	branch = main
[submodule "toolchain/lib-arguments"]
	path = libraries/lib-arguments
	url = https://github.com/shipsimfan/lib-arguments.git
	branch = main
[submodule "bootloader"]
	path = bootloader
	url = https://github.com/shipsimfan/los-rs-bootloader.git
	branch = main
[submodule "libraries/lib-json"]
	path = libraries/lib-json
	url = https://github.com/shipsimfan/lib-json.git
	branch = main
[submodule "libraries/lib-c"]
	path = libraries/lib-c
	url = https://github.com/shipsimfan/lib-c.git
	branch = main
[submodule "libraries/lib-kernel"]
	path = libraries/lib-kernel
	url = https://github.com/shipsimfan/lib-kernel.git
	branch = main
[submodule "shell"]
	path = shell
	url = https://github.com/shipsimfan/shell.git
	branch = main
