[submodule "bootloader"]
	path = bootloader
	url = https://github.com/shipsimfan/los-rs-bootloader.git
	branch = main
[submodule "kernel"]
	path = kernel
	url = https://github.com/shipsimfan/los-rs-kernel.git
	branch = main
[submodule "libraries/lib-kernel"]
	path = libraries/lib-kernel
	url = https://github.com/shipsimfan/lib-kernel.git
	branch = main
[submodule "libraries/lib-c"]
	path = libraries/lib-c
	url = https://github.com/shipsimfan/lib-c.git
	branch = main
[submodule "libraries/lib-c++"]
	path = libraries/lib-c++
	url = https://github.com/shipsimfan/lib-cpp.git
	branch = main
[submodule "programs/coreutils"]
	path = programs/coreutils
	url = https://github.com/shipsimfan/coreutils.git
	branch = main
[submodule "programs/cshell"]
	path = programs/cshell
	url = https://github.com/shipsimfan/cshell.git
	branch = main
